name: "Lint"

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2

      - name: "Setup Node.js"
        uses: "actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238" # v6.2.0
        with:
          node-version: "lts/*"
          cache: "npm"

      - name: "Install dependencies"
        run: "npm clean-install"

      - run: "node --run lint:markdown"
      - run: "node --run lint:typescript"
      - run: "node --run lint:oxlint"
      - run: "node --run lint:oxfmt"
