name: "Lint"

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4.1.7"

      - name: "Setup Node.js"
        uses: "actions/setup-node@v4.0.3"
        with:
          node-version: "22.x"
          cache: "npm"

      - name: "Install dependencies"
        run: "npm clean-install"

      - run: "node --run lint:editorconfig"
      - run: "node --run lint:markdown"
      - run: "node --run lint:eslint"
      - run: "node --run lint:prettier"
      - run: "node --run lint:javascript"

  commitlint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4.1.7"

      - uses: "wagoid/commitlint-github-action@v6.1.2"
